body,
input {
  background-color: white;
  color: black;
  font-family: cursive;
  text-align: center;
}

.container {
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div {
  border-style: solid;
  border-color: #8A8A8A;
  border-radius: 20px;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.file {
  margin-top: 1%;
  margin-bottom: 1%;
}

.summary,
.stats {
  display: flex;
}

.summary {
  font-size: large;
  background-color: white;
}

.channel-summary,
.video-summary,
.ad-summary {
  width: 33%;
}

.stats {
  text-align: justify;
  background-color: white;
}

.video-stats {
  width: 75%;
}

.channel-stats {
  width: 25%;
}

table {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 95%;
  height: 95%;
}

table {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

th, td{
  padding: 1%;
  border-spacing: 1%;
}

tr:nth-child(even) {
  background-color: #8A8A8A;
  color: white;
}