body,
input {
  background-color: white;
  color: black;
  font-family: cursive;
  text-align: center;
}

.container {
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.file{
  border-top: 1%;
}

.summary,
.stats {
  display: flex;
}

.summary {
  font-size: medium;
}

.summary div {
  width: 33%;
}

.stats {
  text-align: justify;
}

.video-stats {
  width: 75%;
}

.channel-stats {
  width: 25%;
}